
@import '../../src/style/my-busy-spinner.css';

:root {
  /* <my-star-rating>
  */
  --my-star-rating-max-size: 5rem;
  --my-star-margin: .8rem;
  --my-no-star-color: #ccc;
  --my-star-color: #c00;
  --my-star-ring-color: #03e;

  /* <my-busy-spinner>
  */
  --my-spinner-duration: 1.5s;
  --my-spinner-color: #135; /* hsl(240, 100%, 63%) */ /* teal hsl(180, 100, 25) */
  --my-spinner-hue: 240deg;
  --my-spinner-lightness: 63%;
  --my-spinner-darken: 30%;
  --my-spinner-size: 20vh; /* Was: 12rem; 40vh */
  --my-spinner-stroke: 2vh; /* .7rem */
  --my-spinner-text: 'Loading. \APlease wait…';

  --my-fork-me-color: #060; /* Green */
  --my-fork-me-focus-color: #080;
}

/* Fix Flash of Unstyled Content (FOUC).
*/
html {
  /* opacity: 0; */
  transition: opacity .5s ease 50ms;
}

html.fouc.end {
  opacity: 1 !important;
}

.XX:not(:defined) { opacity: 0; }

* {
  border-radius: .2rem;
}

body > pre {
  display: none;
}

pre {
  border: 1px solid #ddd;
  padding: .5rem;
}

button {
  cursor: pointer;
  font: inherit;
  padding: .3rem 2rem;
}

my-lorem-ipsum,
my-star-rating {
  display: block;
  margin: 1rem 0;
}

my-map::part(marker) {
  fill: navy;
}

/* The <p> in the <slot> within the Web Component !!
*/
my-star-rating p {
  margin-top: 0;
}

/* my-text-to-speech.
*/
.XX:focus,
[ contenteditable = true ] {
  X-padding: 0 .2rem;
  outline-offset: .3rem;
}

my-text-to-speech,
my-speech-synthesis { display: none; }
[ data-tts-lang ^= en ] [ lang ^= en ],
[ data-tts-lang ^= es ] [ lang ^= es ],
[ data-tts-lang ^= fr ] [ lang ^= fr ],
[ data-tts-lang ^= zh ] [ lang ^= zh ] {
  display: block;
}
