<!--
  Easily embed a map powered by Leaflet.js - optionally with a GeoJSON feed.

  Nick Freear, 27-Nov-2021.
-->
<meta name="robots" content="noindex">

<template id="my-map-template">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

  <script data-X-src="leaflet-1.7.1/leaflet.dist.js" src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <style>
  .map-desc {
    color: #333;
    font: 1rem sans-serif;
    max-width: 35rem;
    margin: 0 auto;
  }
  #my-map {
      border: 1px solid #ddd;
      border-radius: .2rem;
      height: 78vh;
      max-height: 490px;
      min-height: 180px;
  }
  #my-map.leaflet-container {
    font-size: .95rem;
  }
  .my-loading {
    font-size: 1.3rem;
    margin: 1.3rem;
  }
  .leaflet-container .leaflet-pane .leaflet-popup-close-button {
    border: 1px solid #ddd;
    border-radius: 20%;
    color: #bbb;
    height: 20px;
    width: 20px;
    padding: 2px;
  }
  .leaflet-container .leaflet-pane .leaflet-popup-close-button:hover {
    background: rgba(200, 200, 200, .6);
    color: navy;
  }
  .leaflet-container .leaflet-popup-content {
    margin: .55rem;
    margin-right: 1.2rem;
  }
  .leaflet-container .leaflet-control-attribution {
    font-size: .7rem;
  }
  .leaflet-popup-content-wrapper {
    border-radius: .5rem;
  }

  .leaflet-overlay-pane path.leaflet-interactive {
    stroke: var(--my-map-path-color, #3388ff);
    stroke-width: var(--my-map-path-width, 3px);
  }

  /* Accessibility fixes */
  :focus {
    outline: 3px solid var(--my-map-focus-color, navy) !important;
    outline-offset: 1px;
  }
  </style>

  <div id="desc" class="map-desc"><slot> Description of the map. </slot></div>

  <div id="my-map" role="region" aria-label="Embedded Map" aria-describedby="desc">
    <p class="my-loading">Loading map…</p>
  </div>

  <script>
    console.debug('Hello world!');
  </script>
</template>


<!--<pre>

NDF, 27-Nov-2021.

* https://leafletjs.com/examples/quick-start/
* https://openmaptiles.org/docs/website/leaflet/
* https://stackoverflow.com/questions/62571474/open-street-maps-default-tiles-leaflet
* https://latlong.net/place/the-tower-of-london-uk-81.html
* https://cse.google.com/cse?cx=partner-pub-1669785826962003:rppuucliysy&q=London&
* https://github.blog/2013-08-07-gist-meets-geojson/
* https://labs.mapbox.com/maki-icons/
* https://gist.github.com/nfreear/a0a21eacc7a728075a4d
* https://stackoverflow.com/questions/57091717/how-to-set-marker-icon-in-leaflet-map;
* https://gomakethings.com/getting-html-with-fetch-in-vanilla-js/

</pre>-->
