
<meta name="robots" content="noindex">

<template id="my-page">
  <style>
    header,
    nav,
    main,
    footer {
      background: var(--my-page-bg-color, #fcfcfc);
      border: 1px solid #e6e6e6;
      color: var(--my-page-color, #333);
      font: 1rem/1.2 sans-serif;
      margin: .6rem auto;
      max-width: 34rem;
      min-width: 12rem;
      padding: 0 .6rem;
    }
    main {
      line-height: 1.8;
    }
    header h1 {
      font-weight: 400;
    }
  </style>

  <my-skip-link></my-skip-link>

  <header>
    <h1> My Web Components </h1>
  </header>

  <nav>
    <a href="./">Home</a> | <a href="#">Link 2</a> | ...

    <my-fork-me href="https://github.com/nfreear/web-components"></my-fork-me>
  </nav>

  <main id="main-content" tabindex="-1">
    <slot></slot>
  </main>

  <footer>
    <p> [ My footer ] </p>
  </footer>

  <my-analytics
    analytics-id="UA-8330079-10"
    anonymize-ip="true"
    -X-debug="true"
    no-cookies="true"
  >
  </my-analytics>
</template>
