
<meta name="robots" content="noindex">

<template id="my-page">
  <style>
    header,
    nav,
    main,
    footer {
      background: #fcfcfc;
      border: 1px solid #e6e6e6;
      color: var(--color-1, #333);
      font: 1rem/1.2 sans-serif;
      margin: .6rem auto;
      max-width: 33rem;
      min-width: 12rem;
      padding: 0 .6rem;
    }
    main {
      line-height: 1.8;
    }

    .fouc {
      opacity: 0;
      transition: opacity 3s ease 0s;
    }
    .fouc.op1 {
      opacity: 1;
    }
  </style>

  <header>
    <h1> My Web Components </h1>
  </header>

  <nav>
    <a href="./">Home</a> | <a href="#">Link 2</a> | ...
  </nav>

  <main id="main-content">
    <slot></slot>
  </main>

  <footer>
    <p> My footer. </p>
  </footer>
</template>
