<!--

Example:

<style>
:root {
  --my-star-rating-size: 5rem;
  --my-no-star-color: #ddd;
  --my-star-color: #b00;
  --my-star-ring-color: blue;
}
</style>

<my-star-rating name="rating-1"> Rate our service </my-star-rating>

-->

<meta name="robots" content="noindex">

<template id="my-radio-star-rating-element">
  <style>
  /* Reset */
  fieldset { border: none; padding: 0; }
  fieldset legend { position: relative; left: -.3rem; X-margin-bottom: 1rem; }
  label i { font-style: normal; }

  .radio-star-rating-set label {
    X-background-image: var(--star-url);
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    X-font-size: x-small;
    margin: 0;
    height: var(--my-star-rating-size, 4rem);
    width: var(--my-star-rating-size, 4rem);
  }

  .radio-star-rating-set label:hover,
  .radio-star-rating-set label.focused {
    X-outline: 1px solid blue;
    box-shadow: 0 0 4px 2px var(--my-star-ring-color, #444);
    transition: all .2s;
  }

  /* Visually hidden / 'sr-only'
   * https://css-tricks.com/inclusively-hidden/
   * https://github.com/twbs/bootstrap/blob/v4.6.1/scss/mixins/_screen-reader.scss#L6-L16;
   * https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
   */
  .radio-star-rating-set label i,
  .radio-star-rating-set [ type = radio ] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .radio-star-rating-set label {
    margin-right: var(--my-star-margin, .2rem);
  }

  .radio-star-rating-set label svg {
    height: 100%;
    width: 100%; /* Width: 1235px !! */
  }

  /* data-star = no */
  .radio-star-rating-set label .path-star {
    fill: var(--my-no-star-color, #ccc);
    X-stroke: #aaa;
    X-stroke-width: 3px;
  }

  .radio-star-rating-set [ data-star = yes ] .path-star {
    fill: red;
    fill: var(--my-star-color, #555);
    stroke: #aaa;
    stroke-width: 2px;
  }
  </style>

  <fieldset class="radio-star-rating-set" data-stars="">
    <legend><slot> Rate me </slot></legend>

    <label data-star="no" class="star-1"><input type="radio" name="rsrg-1" data-rating="1" /><i> 1 star  </i></label>
    <label data-star="no" class="star-2"><input type="radio" name="rsrg-1" data-rating="2" /><i> 2 stars </i></label>
    <label data-star="no" class="star-3"><input type="radio" name="rsrg-1" data-rating="3" /><i> 3 stars </i></label>
    <label data-star="no" class="star-4"><input type="radio" name="rsrg-1" data-rating="4" /><i> 4 stars </i></label>
    <label data-star="no" class="star-5"><input type="radio" name="rsrg-1" data-rating="5" /><i> 5 stars </i></label>
  </fieldset>
</template>


<!--
  https://commons.wikimedia.org/wiki/File:Red_star.svg
  https://upload.wikimedia.org/wikipedia/commons/3/34/Red_star.svg
-->
<template id="star-svg">
  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1235" height="1175" viewBox="0 0 1235 1175">
    <title>Star</title>
    <path class="path-star" d="M0,449h1235l-999,726 382-1175 382,1175z"/>
  </svg>
</template>
